*{
	text-align:center;
	box-sizing: border-box;
}
html{
	width:414px;
	height:667px;
}
body{
	background: url("./background.jpeg");
	background-size: 414px 667px;
	margin:10%;
	line-height:1em;
}
h1{
	font-size:1.5em;
	background:transparent;
	padding-top:10%;
	line-height:30px;
}
span{
	color:gold;
	background:transparent;
}
header{
	width:200px;
	margin:auto;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 2s;
	z-index:1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:500px;}
    25%  {background-color:yellow; left:0px; top:400px;}
    50%  {background-color:red; left:0px; top:300px;}
    75%  {background-color:yellow; left:0px; top:200px;}
    100% {background-color:yellow; left:0px; top:0px;}
}
#display{
	width:300px;
	height:150px;
	position:relative;
	font-size:25px;
	line-height:35px;
	margin:40px auto 40px auto;
}
#question{
	padding:50px 0;
	color:gold;
	background:black;
}
footer{
	width:350px;
	height:100px;
	display:block;
	position:relative;
	font-size:25px;
	line-height:20px;
}
button{
	display:none;
	background-color:black;
	color:gold;
	margin:10px;
	width:60px;
	height:35px;
	border:2px solid black;
	font-size:20px;
	border-radius:30%;
}
#scores{
	margin:20px auto;
	background-color:black;
	color:gold;
	width:200px;
}
h3{
	font-size:15px;
}

#ready{
	width:60px;
	height:20px;
	border:2px solid black;
	border-radius:30%;
	background:yellow;
	margin:20px auto;
}
#restart{
	width:60px;
	height:20px;
	border:1px solid black;
	border-radius:30%;
	background:red;
	color:black;
	margin:20px auto;
}
