*{
	text-align:center;
	box-sizing: border-box;
}
html{
	width:414px;
	height:667px;
}
body{
	background: url("./background.jpeg");
	background-size: 414px 667px;
	margin:10%;
	line-height:1.2em;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header{
	background-color:red;
  color:black;
	height:80px;
	margin:auto;
	font-size:25px;
	line-height:1.5em;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 2s;
	z-index:1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:500px;}
    25%  {background-color:yellow; left:0px; top:400px;}
    50%  {background-color:red; left:0px; top:300px;}
    75%  {background-color:yellow; left:0px; top:200px;}
    100% {background-color:yellow; left:0px; top:0px;}
}
section {
  margin: 10px;
  width: 200px;
  height: 100px;
  text-align:center;
  background: black;
  color:gold;
}
#header{

}
span{
  color:gold;
}
#question{
  width: 300px;
  height: 100px;
  line-height:100px;
  font-size:20px;
}
#buttons{
	margin:30px;
  width:400px;
  height:30px;
  background-color:transparent;
  display:flex;
  justify-content:space-between;
}
button{
	display:none;
  height:40px;
  border-radius:40%;
  font-size:20px;
}
#footer{
  background:transparent;
}
#scores{
	display:none;
	height:50px;
}
#ready{
	width:60px;
	height:20px;
	border:2px solid black;
	border-radius:30%;
	background:yellow;
  color:black;
	margin:20px auto;
}
#restart{
	width:60px;
	height:20px;
	border:2px solid black;
	border-radius:30%;
	background:red;
	color:black;
	margin:20px auto;
}
